

<div class="container home-div text-center">
	<h1>Organizing an event has never been this easy, click bellow and have fun.</h1>
    <%= link_to 'Create Event', new_event_path, class: 'btn btn-primary', id: "new-event-link" %>
</div>
