body {
	background: #e9ecef;
}
.nav-cont {
	background: green;
}
.nav-links {
	display: inline-block;
	padding-left: 10px;
}

.links {
	color: white;
}

.home-div {
	margin-top: 100px;
}

#new-event-link {
	display: inline-block;
	position: relative;
	top: 30px;
}